html {
  background-color: #000000;
  text-align: center;
}
.records {
  /* background-color: #140000; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.recordDiv {
  border: 3px solid #420000;
  background-color: #140000;
  margin: 5px;
  padding: auto;
}
.esRecordDiv {
  border: 3px solid #420000;
  background-color: #140000;
  color: #77040d;
  margin: auto;
  width: 30%;
  padding: 5px;
  
  text-align: center;
}
.showRecordDiv {
  border: 3px solid #420000;
  background-color: #140000;
  color: #77040d;
  margin: auto;
  width: 30%;
  padding: 5px;
  
  text-align: center;
}
img{
  width: 95%;
}
a{
  color: #680808;
}
#title{
  color:#77040d
}